@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо у Razor Pizzeria</h1>
    <img class="mainImage" src="/Images/classic.jpg" width = 50% >
    <br/>
    <a class="btn btn-primary text-white mt-1" asp-area="" asp-page="Checkout/Checkout">Замовити цю</a>
</div>